* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@import'../scss/secciones/nav';
@import'../scss/secciones/footer';
@import'./paginas/index';
@import'./paginas/quienesSomos';
@import'./paginas/contacto';
@import'./paginas/productos';