.formulario{
    height: 800px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.formulario .titulo{
    margin-top: 60px;
}

.formulario .titulo h1{
    font-size: 30px;
    font-weight: 900;
    color: #C79C62;
    text-align: center;
}

.formulario .titulo p{
    margin-top: 20px;
    font-size: 20px;
    color: grey;
    text-align: center;
}

.input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.input span{
    font-size: 16px;
    font-weight: 300;
    color:black ;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input .casillero{
    width: 100%;
    margin-bottom: 20px;
    border: 3px solid;
    border-radius: 20px;
    padding: 10px 0px 10px 20px;
    color: black;
    box-shadow: 7px 15px 15px #592a0893;
}

.input2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.input2 span{
    font-size: 16px;
    font-weight: 300;
    color:black ;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input2 .casillero{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 0px 10px 20px;
    color: black;
}

.separador{
    margin-top: 10px;
    border: 1px solid;
    box-shadow: 7px 15px 15px #592a0893;
}