
.cover {
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container__cover {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(../img/cancha\ hockey\ completa-01.png);
    background-size: cover;
    background-position: bottom;
}

.cover .container__info {
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1 {
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.cover h2 {
    font-size: 25px;
    font-weight: 900;
    color: #feba0b;
    margin-top: -20px;
}

.cover p {
    margin-top: 10px;
    color: #373737;
}

.cover input[type="button"] {
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #feba0b;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover {
    box-shadow: 1px 1px 30px -5px #20202085;
}

.container__vector {
    position: relative;
}

.container__vector img {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 400px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}

@keyframes move_vector {
    0% {
        translate: 10px;
    }

    25% {
        translate: -10px;
    }

    100% {
        translate: 10px;
    }
}

@media screen and (max-width: 920px) {
    .container__vector img{
        max-width: 300px;
    }
}


@media screen and (max-width: 760px) {
    .btn_menu {
        display: flex;
    }

    .container__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav {
        height: 100%;
        background: #f1faff;
        position: fixed;
        top: 0;
        right: -250px;
        padding: 0 40px;
        transition: all 300ms;
    }

    .move_nav{
        right: 0px;
    }


    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 20px 0px;
    }

    .container__vector img{
     transform: scale(0);
     animation: none;
    }

}